.show-info {
  margin-top: 3%;
  display: none;
}

ul {
  list-style: circle;
}

.listInfo {
  cursor: pointer;
  color: #0088cc;
}

.contact:hover {
  text-decoration: underline;
}

button {
  margin-bottom: 10px;
}
